<!DOCTYPE html>
<!-- saved from url=(0035)http://www.tibiamaps.org/mapxyz.php -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Tibia XYZ</title>
    <!-- <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' /> -->
    <link rel="stylesheet" href="./XYZ_files/tibiaxyz.css">
    <link rel="stylesheet" href="./XYZ_files/leaflet.css">
    <link rel="stylesheet" href="./XYZ_files/leaflet.coords.css">
    <link rel="stylesheet" href="./XYZ_files/leaflet.fullscreen.css">
    <script src="./XYZ_files/leaflet.js"></script>
    <script src="./XYZ_files/leaflet.coords.js"></script>
    <script src="./XYZ_files/leaflet.cross.js"></script>
    <script src="./XYZ_files/leaflet.fullscreen.js"></script>
    <script src="./XYZ_files/tibiaxyz.js"></script>
</head>
<body>
    <div id="map" class="sidebar-map leaflet-container" tabindex="0"></div>
    <script type="text/javascript">
        var map = new TibiaXYZ();
        map.init();
    </script>

</body></html>