<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/navbar %>

    <% include ../partials/register_container %>

    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>
